# Stratos BEP -- Environment Variables
# Copy this file to .env and fill in real values
# NEVER commit .env to version control

SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=stratos_db
POSTGRES_USER=stratos_user
POSTGRES_PASSWORD=your-strong-password-here
DATABASE_URL=postgresql://stratos_user:your-strong-password-here@postgres:5432/stratos_db

REDIS_URL=redis://redis:6379/0

GMAIL_CREDENTIALS_PATH=/app/credentials/gmail_credentials.json
GMAIL_TOKEN_PATH=/app/credentials/gmail_token.json

VIRUSTOTAL_API_KEY=your-virustotal-api-key-here
ABUSEIPDB_API_KEY=your-abuseipdb-api-key-here

CLEAN_THRESHOLD=25
MALICIOUS_THRESHOLD=70
DJANGO_SETTINGS_MODULE=stratos_server.settings.dev
